{% extends "main/base.html" %}

{% block title %}Главная{% endblock  %}

{% block content %}
  <main>

    <header>
      <div class="breadcrumbs">
        <a href="#0/">Home</a>
      </div>

      <h1 class="title">Pipeline &lt;h1&gt; </h1>

      <nav class="nav-tabs" id="nav-tabs">
        <a href="#0" class="active">
          Deals
          <span>14</span>
        </a>
        <a href="#0">
          Library
          <span>24</span>
        </a>
        <a href="#0">
          Search Library
        </a>
      </nav>
    </header>

    <div class="content-columns">

      <div class="col">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="col">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="col">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="col">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>

    </div>

  </main>

</div>

{% endblock  %}